services:
    react:
        image: 'node:24.11.1-slim'
        ports:
            - '3000:3000'
        working_dir: /home/node/app/
        volumes:
            - './Front-End:/home/node/app'
            - '/etc/localtime:/etc/localtime:ro'
        user: '${USER_ID}:${USER_GROUP}'
        command: sh -c 'npm ci --force && npm run dev -- --host 0.0.0.0'
        restart: always
        networks:
          - homedoc-net

    go-api:
        image: 'golang:1.25.4-alpine'
        depends_on:
            - postgres
        ports:
            - '5000:5000'
        working_dir: /app/
        volumes:
            - './Back-End:/app'
            - '/etc/localtime:/etc/localtime:ro'
            # include this if you want faster container bootup times
            #- '${HOME}/go/pkg/mod:/root/go/pkg/mod'
        command: sh -c 'mkdir -p /.cache && chmod -R 777 /.cache && go run ./cmd/api'
        restart: always
        env_file: './.env'
        networks:
          - homedoc-net

    postgres:
        image: 'postgres:18.1-alpine'
        ports:
            - '5432:5432'
        healthcheck:
            test: ["CMD", "pg_isready"]
            interval: 30s
            timeout: 20s
            retries: 3
        env_file: './.env'
        volumes:
            - '${PWD}/Docker/dev/postgres/:/docker-entrypoint-initdb.d/'
        networks:
          - homedoc-net

    tika:
      image: apache/tika:3.2.3.0
      ports:
        - '9998:9998'
      restart: always
      networks:
        - homedoc-net

    nginx:
        image: 'nginx:1.29.3-alpine'
        depends_on:
            - react
            - go-api
        ports:
            - '80:80'
        volumes:
            - '${PWD}/Docker/dev/nginx/nginx.conf:/etc/nginx/nginx.conf'
            - '${PWD}/Docker/dev/nginx/locations.d/:/etc/nginx/locations.d/'
            - '${PWD}/Front-End/public/:/etc/nginx/html'
        restart: always
        networks:
          - homedoc-net

networks:
  homedoc-net:
    name: homedoc-net

