# id -u
USER_ID=1234

# id -g
USER_GROUP=1234

# string that is used for creating JSON web tokens
JWT_TOKEN=token

# PostgreSQL credentials
POSTGRES_DB=homedocs
POSTGRES_USER=home-docs
POSTGRES_PASSWORD=password
POSTGRES_HOST=postgres
